.rooms {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  background-color: white; 
}

.rooms-header {
  position: relative; 
  display: inline-block; 
}

.rooms h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #115466; 
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  border-bottom: 3px solid #ddd; 
  display: inline-block;
  padding-bottom: 10px;
}

.corner-image {
  position: absolute;
  top: 0;
  right: 500px;
  width: 220px; 
  height: 160px; 
  border-radius: 5px; 
  margin: 10px; 
}

.room-list {
  margin-top: 5%;
  display: flex;
  width: calc(200%); 
  animation: float 20s linear infinite;
}

.room-item {
  flex: 0 0 25%; 
}

.room-item img {
  width: 80%; 
  height: 250px; 
  object-fit: cover; 
  box-shadow: 10px 10px 10px 10px rgba(1, 27, 43, 0.1); 
}

@keyframes float {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.room-list:hover {
  animation-play-state: paused;
}
